html,
body {
  height: 100%;
}

.form-signin {
	width: 100%;
	max-width: 350px;
	padding: 15px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: auto;
}

.login-con {
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 10% !important;
	padding-bottom: 40px;
	justify-content: center;
	align-items: center;
}

.box {
	width: 450px;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
	-webkit-box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
	-o-box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
	-ms-box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
}

#sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%
}

.navbar-brand {
	font-size: 1.25rem;
}

.navbar-nav .active {
	color: #fff;
	font-weight: 500;
}

.dropdown:hover .dropdown-menu {
  display: block;
}