<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/layout}">
<head>
<title>School-IS main page</title>
</head>
<body>
	<div layout:fragment="content" class="container mt-5">
		<div class="jumbotron shadow-sm">
			<h2>Information system for keeping a record of the study</h2>
			<p>This information system was designed for the school project and to practice the Spring boot framework.
			   In this project, Thymeleaf was used as template engine. IS is built on Spring Boot 2.1.x, using Spring Security, JPA, JDBC,
			   AOP and H2 database.</p>
			<p>
				<a class="btn btn-lg btn-primary" href="/persons"
					role="button">View list of users &raquo;</a>
			</p>
		</div>
	</div>
</body>
</html>