<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{fragments/layout}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>My profile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div layout:fragment="content" class="container my-5">
		<h2 class="mb-5">My profile</h2>
		<div class="row">
			<div class="col-md-12">
				<form action="#" th:action="@{/students/add}" th:object="${student}"
					method="post">
					<div id="alert"
						class="alert alert-warning alert-dismissible fade show"
						role="alert" th:if="${#fields.hasErrors('*')}">
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<ul style="padding-left: 10px;">
							<li th:each="err : ${#fields.errors('*')}" th:text="${err}"
								class="text-danger">Input is incorrect</li>
						</ul>
					</div>
					<div class="row">
						<input type="hidden" th:field="*{id}" class="form-control"
							placeholder="Id">
						<div class="form-group col-md-3">
							<label for="name" class="col-form-label">Name</label> <input
								type="text" th:field="*{name}" class="form-control" id="name"
								placeholder="Name" th:errorclass="is-invalid" required="true">
						</div>
						<div class="form-group col-md-3">
							<label for="surname" class="col-form-label">Surname</label> <input
								type="text" th:field="*{surname}" class="form-control"
								id="surname" placeholder="Surname" th:errorclass="is-invalid">
						</div>
						<div class="form-group col-md-3">
							<label for="email" class="col-form-label">Email</label> <input
								type="email" th:field="*{email}" class="form-control" id="email"
								placeholder="Email" th:errorclass="is-invalid">
						</div>
						<div class="form-group col-md-3">
              				<label for="tel" class="col-form-label">Phone</label>
              				<input type="tel" th:field="*{phone}" class="form-control" id="tel" placeholder="Phone">
            			</div>
						<div class="form-group col-md-3">
							<label for="loginName" class="col-form-label">Login name</label>
							<input type="text" th:field="*{loginName}" class="form-control"
								id="loginName" placeholder="Login name"
								th:errorclass="is-invalid" required="true">
						</div>
						<div class="form-group col-md-3">
							<label for="password" class="col-form-label">Password</label> <input
								type="password" th:field="*{password}" class="form-control"
								id="password" placeholder="Password" required="true">
						</div>
						<div class="form-group col-md-3">
							<label for="fieldOfStudy" class="col-form-label">Field of
								study</label> <input type="text" th:field="*{fieldOfStudy}"
								class="form-control" id="fieldOfStudy"
								placeholder="Field of study">
						</div>
						<div class="form-group col-md-3">
							<label for="grade" class="col-form-label">Grade</label> <input
								type="number" th:field="*{grade}" class="form-control"
								id="grade" placeholder="Grade">
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 mt-4">
							<input type="submit" class="btn btn-primary" value="Save">
						</div>
					</div>
				</form>
			</div>
			</div>
			<!-- LESSONS -->
			<h3 class="mt-5">Lessons</h3>
			<div class="row">
			<div class="col-md-8">
				<form action="#" th:action="@{/students/addLesson}" th:object="${lesson}" method="post">
					<div class="row">
						<div class="form-group col-md-2">
							<label for="lesson" class="col-form-label">Lesson</label>
						</div>
						<div class="form-group col-md-4">
							 <select  class="form-control">
              					<option th:each="l : ${lessons}"
              							th:value="${l.id}"
              							th:text="${l.subject.name + ' ' + l.lessonTime}"></option>
              </select>
						</div>
						<div class="col-md-4">
							<input type="submit" class="btn btn-primary" value="Save">
						</div>
					</div>
				</form>
			</div>
			
		</div>
	</div>
</body>
</html>