<!DOCTYPE html>
<header th:fragment="header" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" class="header">
	<!-- Static navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-success mb-4 shadow">
		<a class="navbar-brand font-weight-normal" href="/">School information system</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse mr-auto" id="navbarNavDropdown">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item" th:classappend="${#request.getServletPath() == '/' ? 'active' : ''}"><a class="nav-link" href="/">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item dropdown" th:classappend="${pplActiveSettings}"><a
					class="nav-link dropdown-toggle" href="#"
					id="navbarDropdownMenuLink" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">Users</a>
					<div class="dropdown-menu"
						aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" th:classappend="${#request.getServletPath() == '/persons' ? 'active' : ''}" href="/persons"  sec:authorize="hasRole('ROLE_ADMIN')">People</a>
						<a class="dropdown-item" th:classappend="${#request.getServletPath() == '/students' ? 'active' : ''}" href="/students">Students</a> <a
							class="dropdown-item" th:classappend="${#request.getServletPath() == '/teachers' ? 'active' : ''}" href="/teachers"  sec:authorize="hasRole('ROLE_ADMIN')">Teachers</a>
					</div></li>
				<li class="nav-item" th:classappend="${subjectsActiveSettings}"><a class="nav-link" href="/subjects">Subjects</a></li>
				<li class="nav-item" th:classappend="${lessonsActiveSettings}"><a class="nav-link" href="/lessons">Lessons</a></li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item dropdown"><a class="nav-link text-white dropdown-toggle"
					href="#" th:text="${#authentication.principal.realName}" data-toggle="dropdown">User name</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-2">
					<a class="dropdown-item" href="/logout">Logout</a>
					<a class="dropdown-item" href="/profile">Profile</a>
					</div>
					</li>
				<li class="nav-item"><a class="nav-link" href="#"><i
						class="fab fa-twitter"></i></a></li>
				<li class="nav-item"><a class="nav-link" href="#"><i
						class="fab fa-facebook"></i></a></li>
				<li class="nav-item"><a class="nav-link" href="#"><i
						class="fab fa-linkedin"></i></a></li>
				<li class="nav-item"><a class="nav-link" href="#"><i
						class="fab fa-github"></i></a></li>
			</ul>
		</div>
	</nav>
</header>